<section id="main" role="main">
	<div class="container-fluid">
		<div class="page-header page-header-block">
			<div class="page-header-section">
				<h4 class="title semibold"><i class="fa fa-home"></i> Home Page</h4>
			</div>
		</div>
	</div>
</section>