<section id="main" role="main">
	<div class="container-fluid">
		<div class="page-header page-header-block">
			<div class="page-header-section">
				<h4 class="title semibold"><i class="ico-users5"></i> Member Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="ico-list mr5"></i>Cooperative Members</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table id="tableMembers" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="text-right">#</th>
												<th>ID Number</th>
												<th>Member Name</th>
												<th class="text-center">Gender</th>
												<th class="text-center">Active Status</th>
											</tr>
										</thead>
										<tbody>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
