/*! Adminre v.1.2.0 - custom.css
 *
 * @note : Avoid altering this file. Any enhancement should be done in this file
 * @author : JohnPozy
 * @author URL : http://themeforest.net/user/pampersdry
 */
 
/* ----------------------------
 *
 * Your very own modification ;)
 *
 * --------------------------- */

			table caption 
			{
				padding: .5em 0;
			}

			@media screen and (max-width: 767px) 
			{
				table caption 
				{
				border-bottom: 1px solid #ddd;
				}
			}
			body 
			{
				background: #fff !important;
			}
			.footer_design 
			{
			    background-color: #1c558d !important;
			    color: white;
			        padding-top: 25px;
			}
			.footer_bottom 
			{
			    background-color: #15416c !important;
			    color: white;
			    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
			}
 ul.dd-options > li > a > img, .dd-selected-image
 {
 	border-radius: 8px;
    width: 32px;
    height: 32px;
 } 
 .dd-option-text
 {
 	line-height: 0px! important;
 }
 .btn
 {
 	    word-wrap: break-word;
    white-space: normal !important;
 }
 
.upper
{
	text-transform: uppercase
}
.adnu-logo-figure
{
	width: 128px;
	background-image: url("adnu-logo.png");
	background-repeat: no-repeat;
	background-position: 0px 8px;
	background-size: 128px 128px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	height: 140px;
	margin-bottom: 35px;
}

#header
{
	background:#336699 !important;
}

.navbar-header
{
	background:#336699 !important;
}

.logo-figure
{
	background-image: url("../image/logo/adnu-logo.png") !important;
}

.logo-text
{
	width:150px !important;
	background-image: url("../image/logo/logo-text-inverse.png") !important;
}

#header.navbar .navbar-toolbar .navbar-nav > li > a
{
	color:#fff !important;
}
.section-title
{
	
	padding-left: 15px;
}

.clear
{
	clear: both;
}

.employeeName
{
	margin-bottom: 80px;
}

.profileText
{
	padding: 35px 15px 40px 30px;
}

.profileTable > tbody > tr > td
{
	padding: 3px 10px 3px 10px;
}

.inner-section-title
{
	display: inline-block !important;
	padding: 10px 15px 10px 30px;
	background: #369;
	color: #FFF;
	width: 25%;
	min-width: 200px;
	font-size: 20px;
}

.linkEdit
{
	font-size: 18px;
	color: #369;
}

.divLinkEdit
{
	text-align: right;
}

.divLinkEditContent
{
	text-align: left;
}
/* ----------------------------
 *
 * Footer
 *
 * --------------------------- */
.frontend footer#footer {
  background-color: #1c558d;
  color: #e6e6e6;
}
.frontend footer#footer > .footer-bottom {
  background-color: #15416c;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer .col-md-6
{
	width:33%;
}
@media screen and (max-width: 991px) {
	#footer .col-md-6
	{
		width:100%;
	}
}
/* ----------------------------
 *
 * Button
 *
 * --------------------------- */
.btn-primary {
	background-color: #15416c;
	border: none;
}
.btn-primary:hover {
	background-color: #0176eb;
}
/* ----------------------------
 *
 * Header
 *
 * --------------------------- */
.panel-heading
{
	background: #336699 !important;
	color:#fff !important;
}

.dropdown-toggle, .sidebar-minimize
{
background: #336699 !important;
}

.dropdown.profile.open, .dropdown.profile.open .dropdown-toggle,  .dropdown.custom.open .dropdown-toggle
{
	background: #15416c !important;
}
.sidebar-minimize:hover
{
	background: #15416c !important;
}
/* ----------------------------
 *
 * Table
 *
 * --------------------------- */

.indicate
{
	font-size: 9px !important;
}



/*------------------------------
 *Profile Modal
 *----------------------------*/

.prof-modal-title
{
	color:#fff!important;
}

.prof-modal .modal-body
{
	background: #fff;
}

.prof-modal .text-muted
{
	color:#fff!important;
}

.prof-modal .modal-header
{
	border-bottom: 4px solid #336699;
	background: #336699;
}


.prof-modal .prof-modal-hr
{
	border-bottom: 2px solid #336699;
	margin-top:1px;
	margin-bottom:1px;
}

.prof-modal .prof-modal-hr-2
{
	border-bottom: 2px solid #336699;
	margin-top:10px;
	margin-bottom:10px;
}

.prof-modal .control-label
{
	color:#336699;
}

.edit-prof-modal .prof-modal-title
{
	color:#336699!important;
}

.edit-prof-modal .modal-body
{
	background: #fff;
}

.edit-prof-modal .text-muted
{
	color:#336699!important;
}

.edit-prof-modal .modal-header
{
	border-top:10px solid #336699;
	border-bottom: 4px solid #336699;
	background: #ff;
}
.edit-prof-modal .modal-footer
{
	border-top:2px solid #336699;
	
	background: #ff;
}


.edit-prof-modal .prof-modal-hr
{
	border-bottom: 2px solid #336699;
	margin-top:1px;
	margin-bottom:1px;
}

.edit-prof-modal .prof-modal-hr-2
{
	border-bottom: 2px solid #336699;
	margin-top:10px;
	margin-bottom:10px;
}

.edit-prof-modal .control-label
{
	color:#336699;
}


/*------------------------------
 *Table Action
 *----------------------------*/

.action-field
{
	min-width:20% !important;
	max-width:20% !important;
	width:20% !important;
}

.edit-action-display
{
	display:none !important;
}
.edit-action-display-bs
{
	display:none ;
}


/*------------------------------
 *CV
 *----------------------------*/

.add-cv
{
	background:#369;
}

.sidebar
{
	background-color: #303437 !important;
}
.sidebar .topmenu li > .submenu li a:nth-child(1)
{
	border-bottom: 1px solid #2f2f2f;
}
.cvForm div div div a img {
	width: 175px !important;
	height: 175px !important;
}
@media screen and (max-width: 1432px) {
	.cvForm .panel-body .col-md-2
	{
		text-align:left !important;
		padding-left: 30px ;
		width: 100% !important;
	}
	.cvForm .panel-body .col-md-10
	{
		width: 100% !important;
	}
	h1.ccdProof {
		margin: 0px !important;
		text-align: center !important;
	}
}

.popOverAbbr
{
	font-size: 24px; 
	margin-left: 10px; 
    color: #91c854;
    font-weight: bold;
}


/*
.sidebar .topmenu
{
	background-color: #111 !important;
}
.sidebar .topmenu li > .submenu
{
	background-color: #555 !important;
}
.sidebar .topmenu li > .submenu:after
{
	border-left: thin solid #ccc;
}
.sidebar .topmenu li:after
{
	border-top: thin solid #ddd;
}*/
